# requirements.txt

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu

numba>=0.57.0
statsforecast==2.0.2
numpy==2.2.6
pandas==2.3.2
prophet==1.1.7
mlflow[extras]==3.3.1
pyarrow==20.0.0
scikit-learn==1.7.1
kafka-python[crc32c]==2.2.15
psutil==7.0.0
boto3==1.34.74
prometheus_client==0.18.0
httpx==0.27.2
